<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Exercice 5</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="assets/js/script.js"></script>
  </head>
  <body ng-app="">
     <div>
         <button type="button" ng-click="show=false" name="button">hide</button>
         <button type="button" ng-click="show=true" name="button">show</button>
            </div>
     <p ng-show="show">Je ne sais pas quoi ecrire.</p>
  </body>
</html>
